footer {
  font-size: 0.8em;

  .footer_links {
    .links_title {
      font-weight: bold;
      margin-bottom: 1em;
    }

    .social{
      i.fa{
        &:hover{
          color: #c6353b;
        }
      }
    }
  }
}