.fc-container{
  margin-top: 60px;
}

.fc-course-types{
  a, a:hover, a:focus{
    font-family: Abril;
    color: #333333;
    text-decoration: none;
    display: inline-block;
    width: 100%;
  }
}

.fc-title{
  margin-left: 10px;
  span{
    margin-left: 10px;
    font-size: 20px;
    font-weight: 100;
  }
}

.fc-button-wrapper{
  &:last-of-type{
    margin-left: 20px;
  }
  padding: 80px 30px 80px 30px;
  color: $clText;
  background-color: #F1EFF0;
}

.fc-boxes-section{
  margin-left: 10px;
  margin-top: 100px !important;
}