header {
  position: relative;
  height: 4rem;

  a {
    color: inherit;

    &:hover {
      color: inherit;
    }
  }

  .header-left {
    height: 100%;
    float: left;
    margin-left: $dmSideGap;
    padding: 0.4rem 0;

    img {
      height: 100%;
    }
  }
  .header-right {
    height: 100%;
    float: right;
    font-size: 0.8em;
    font-weight: bold;

    .main-navigation {
      display: table;
      height: 100%;
      text-transform: uppercase;

      .navigation-item {
        display: table-cell;
        min-width: 9rem;
        height: 100%;
        padding: 1rem;
        text-align: center;
        vertical-align: middle;

        cursor: pointer;

        &:nth-child(1) {
          background: $clGrayLighter;
        }
        &:nth-child(2) {
          background: $clGrayLight;
        }
        &:nth-child(3) {
          background: $clBrand;
        }
        &:nth-child(4) {
          vertical-align: middle;
          background: $clGrayDark;
        }

        &.menu_open {
          width: $dmHeaderMenuButtonWidth;
          padding-right: $dmHeaderMenuButtonPadding;
          text-align: right;
        }
      }
    }
  }

  &.is-branch-learning-center {
    background: $clBrand;

    .header-right {
      .main-navigation {
        .navigation-item:nth-child(3) {
          background: $clGrayLighter;
        }
      }
    }
  }
}

// todo: might need to go in another file
.main_menu {
  display: none;
  position: fixed;
  top: 0;
  right: -50%;
  width: 50%;
  height: 100%;
  background: rgba(0, 0, 0, .95);
  color: $clGrayLight;
  z-index: 99;

  button.close {
    position: absolute;
    right: 40px;
    top: 20px;
    color: white;
    opacity: 1;
    font-size: 30px;
  }

  // todo: refactor
  // todo: refactor
  // todo: refactor
  // todo: refactor
  .menu_list {
    height: 100%;
    font-size: 30px;

    > ul {
      text-align: left;

      > li {
        border-top: 1px solid;

        a {
          color: #e4e5e5;
          font-family: 'Din';
          text-decoration: none;

          &:hover {
            color: #ffffff;
          }
        }

        ul {
          color: $clBrand;
          font-size: 0.7em;

          li {
            a {
              color: $clBrand;
            }
          }
        }

        &:first-child {
          border-top: none;
        }
        &:last-child {
          color: $clBrand;

          &:hover {
            color: $clBrandLight;
          }

          a {
            color: $clBrand;

            &:hover {
              color: $clBrandLight;
            }
          }
        }
      }
    }
  }
}