.past-ceremonies {
  .past-ceremony-item {
    font-size: 0;
    display: table;
    width: 100%;
    .preview-image {
      width: 50%;
      height: 150px;
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
      background-position: center;
      display: table-cell;

    }
    .preview-text {
      width: 50%;
      font-size: 16px;
      display: table-cell;
      padding: 20px;
      h3 {
        color: $clBrandLight;
      }
    }
  }
  .thumbnail {
    padding: 0;
    border: none;
    margin: 0;
    position: absolute;
    top: 0;
    bottom:0;
    right: 0;
    left: 0;
    z-index: 0;
    opacity: 0;
    background: none;

    img {
      position: absolute;
      width: 100%;
      height:100%;
      opacity: 0;
      visibility: hidden;
    }
  }
  &.congress {
    margin-top: 0 !important;
  }

  .image-container {
    position: relative;

    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;

    .stretch {
      min-height: 250px;
    }



    .actions-button {
      position: absolute;
      top: 10px;
      left: 10px;
      font-size: 20px;
      color: #fff;
      background: none;
      border: none;
      cursor: pointer;
      z-index: 2;

      &:hover {
        color: #ccc;
      }
      & + input {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        z-index: -9999;
      }
    }
    .actions-button + input:checked ~ .image-actions {
      display: block;
    }
    .image-actions {
      display: none;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.5);
      .image-actions-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
      }
      button {
        padding: 0;
        margin: 0;
        background: none;
        border: none;
      }
      form {
        display: inline-block;
      }
      i {
        color: #ffffff;
        font-size: 30px;
        cursor: pointer;
      }
    }
  }
}
.ceremonies-sections {
  h3 {
    font-size: 20px;
    color: $clBrandLight
  }
}
