@mixin list($class, $type, $before-number, $after-number){

  .#{$class}{
    counter-reset: $class;

    > div:not(.level) {
      margin-bottom: 10px;

      &:before{
        counter-increment: $class;
        content:$before-number counter($class, $type) $after-number;
        position: absolute;
        margin-left: -1.8em;
      }
    }
  }
}

.statutes {
  .level {
    padding-left: 29px;
  }

  .h2{
    font-weight: bold;
    font-family: $baseHeaderFontFamily;
  }

  @include list(bracket-upper-alpha-list, upper-alpha, "(", ") ");
  @include list(bracket-lower-alpha-list, lower-alpha, "(", ") ");
  @include list(bracket-number-list, decimal, "(", ") ");
  @include list(number-list, decimal, "", ". ");
}