.btn {

  // todo: change name to a more abstract one
  @at-root .btn-register {
    padding: 15px;
    margin-top: 45px;
    border: none;
    border-radius: 0;
    background: $clBrand;

    color: #fff !important;
    font-family: 'Din';
    font-weight: 600;

    &:hover {
      background: $clBrandLight;
    }
  }
}

.btn-brand {
  padding: 15px;
  margin-top: 45px;
  border: none;
  border-radius: 0;
  background: $clBrand;

  color: #fff !important;
  font-family: 'Din';
  font-weight: 600;

  &:hover {
    background: $clBrandLight;
  }
}
