.large-checkbox{
  font-size: 22px;
  label{
    &:before{
      background-color: #eaeaea !important;
      border-color: #eaeaea !important;
      padding: 12px;
      border-radius: 0 !important;
      margin-left: -30px !important;
      margin-top: 2px;
    }
    &:after{
      margin-left: -28px !important;
      margin-top: 3px !important;
      font-size: 15px !important;
    }
  }
}