.link_box {
  background:url(../images/arrow_thin.png) no-repeat;
  background-position:right;
  background-size: 30px;
  padding-right: 40px;
  transition: all 0.3s ease;
  cursor: pointer;

  &.dark{
    color: $clText;

    &:hover{
      color: $clText;
    }
  }

  img {
    transition: all 0.3s ease;
  }
  &:hover {
    color: $clBrandLight;
    background-size: 40px;
    img {
      transform: scale(1.2);
    }
  }
}